button {
    background-color: rgba(0, 255, 255, 0.575);
    border: 24px green groove;
    color: blue;
    text-align: center;    
    font-size: 16px;
}

h1.foo {
    text-align: center;
}

h1#new-point {
    text-align: right;
}